.customers{
    width: 100vw;
    min-height: 87vh;
    height: 100%;
    margin-top: -20px;
    padding: 10px;
    background-color: rgb(209, 206, 206);
    
}

.customer{
    width:100vw;
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(209, 206, 206);
}

.nav_customers{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1em;
    padding: 1em;
}

.product_cart{
    margin-left: 2rem;
}

.product{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.card{
    width: 280px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 2px 2px 2px black;
    margin: 2rem;
    background-color: white;
}

.cart_main{
    display: flex;
    justify-content: center;
    align-items: center;
}


.cart_component{
    display: flex;
    flex-direction: column;
    height: 70vh;
    width: 50vw;
    background-color: pink;
    margin: 3rem;
}

.cart_items{
    flex: 1;
    overflow: auto;
}

.heading_cart{
    text-align: center;
}

.cart_button{
    display: block;
    text-align: center;
    margin: 2rem;
}

.cart_product{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 1em;
    padding: 1em;
    border: 1px black solid;
    background-color: white;
}

.qty{
    display: flex;
    justify-content: center;
    align-items: center;

}

.btn_grp{
    padding: 0.2em;
    margin: 0em 0.3em;
}